:root{
  --primaryColor: #ffffff;
  --lightGrey: #818181;
  --activeLink: #b70808;
  --lighterGrey: #ced4da;
  --tradeNow: #0D474C;
}


*, *::after, *::before{
  margin: 0;
  padding: 0;
}


body{
  font-family:  sans-serif, Raleway;
  background-color: var(--primaryColor);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}